@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sansita+Swashed:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

.movie-container {
  width: 100%;
  height: 100%;
  background-color: #0a0a3d;
  color: #f1f1f1;
  margin-top: -90px;
  margin-bottom: 2rem;
  overflow: hidden;
  z-index: -1;
  padding-bottom: 100px;
}
.movie-search-pagination {
  max-width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movie-pagination {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 1rem auto 1.5rem;
}
.movie-card {
  position: relative;
  max-width: 250px;
  border: 1px solid #6e6cd1;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(23, 42, 211, 0.3);
  transition: transform 500ms ease-in-out;
}
img {
  max-width: 100%;
  object-fit: cover;
}
.movie-info {
  display: flex;
  padding: 1px 3px;
  align-items: center;
  justify-content: space-between;
  background-color: #100f64;
  color: #f1f1f1;
  max-width: 100%;
  height: 25px;
  overflow: hidden;
}
.movie-info .title {
  width: 70%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}
.movie-info .title h5 {
  font-size: 15px;
  font-weight: 700;
}
.movie-info .vote {
  width: 10%;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  margin: 0px 2px;
  outline: none;
}

.movie-info .vote.orange {
  color: rgb(233, 178, 75);
}

.movie-info .vote.green {
  color: rgb(57, 180, 57);
}

.movie-info .vote.red {
  color: rgb(228, 82, 82);
}
.movie-over {
  background-color: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 2px;
  border-top-right-radius: 30px;
  max-height: 100%;
  color: #090941;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0px;
  transform: translateY(100%);
  transition: transform 450ms ease-in-out;
}
.movie-card:hover .movie-over {
  transform: translateY(0%);
}
.movie-card:hover {
  transform: scale(1.08);
  z-index: 3;
}

.movie-header {
  width: 35%;
  height: 40px;
  max-width: 400px;
  min-width: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  border-radius: 20px;
  z-index: 100;
}
.movie-header button {
  outline: none;
  border: none;
  width: 50px;
  background-color: #05054be1;
  height: 100%;
  color: #fdf9f9;
  border-radius: 20px 0 0 20px;
}

#search {
  padding-left: 3.5rem;
  margin: 0;
  box-sizing: border-box;
  width: 32%;
  min-width: 230px;
  height: 100%;
  background-color: #05054b98;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
#search::placeholder {
  color: #fff;
  opacity: 0.5;
}
#search:placeholder-shown {
  background-color: #05054b98;
  color: #fff;
}
#search:hover {
  background-color: #15097c;
  color: white;
  width: 95%;
}
#search:focus {
  width: 95%;
}
.searchIcon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .movie-header {
    width: 30%;
    height: 40px;
    max-width: 300px;
  }
}
/*  End of Movies  */

/* Movie Trailer */

.preview-video {
  position: fixed;
  top: 12vh;
  right: 0v;
  width: 100vw;
  height: 100%;
  z-index: 1000;
}

.preview-close {
  position: absolute;
  top: 90px;
  right: 50px;
  width: 50px;
  border-radius: 11px;
  border: 1px solid #444;
  font-size: 2rem;
  background-color: transparent;
  color: rgb(230, 54, 10);
}
