@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sansita+Swashed:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

.movie-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #0a0a3d;
  color: #f1f1f1;
  overflow: hidden;
  z-index: -1;
  padding-bottom: 1rem;
}

.movie-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
  padding: 2rem;
  justify-items: center;
  margin: 0.5rem auto;
}

@media (max-width: 668px) {
  .movie-wrapper {
    padding: 0 0.5rem;
    margin: 0.5rem auto;
  }
}
/* Movie Card  */

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 1px solid #1c1c1d2d;
  box-shadow: 2px 3px 10px 3px rgba(0, 1, 12, 0.3);
  margin: 10px;
  margin-bottom: 1rem;
  border-radius: 8px;
  max-width: 300px;
  height: 320px;
  overflow: hidden;
  background-color: rgba(23, 42, 211, 0.3);
  transition: transform 500ms ease-in-out;
}
.imageContainer {
  max-height: 90%;
  width: 100%;
}
img {
  background-color: rgba(27, 34, 92, 0.3);
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center top;
}
.movie-info {
  display: flex;
  padding: 0px 0.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: #100f64;
  color: #f1f1f1;
  max-width: 100%;
  height: 30px;
  overflow: hidden;
}
.movie-info .title {
  width: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}
.movie-info .title h5 {
  font-size: 13px;
  font-weight: 600;
}
.vote-container {
  width: 20%;
  min-width: 50px;
}
.movie-info .vote {
  width: 20%;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  outline: none;
}

.movie-info .vote.orange {
  color: rgb(233, 178, 75);
  font-size: 13px;
  font-weight: 600;
}

.movie-info .vote.green {
  color: rgb(57, 180, 57);
  font-size: 13px;
  font-weight: 600;
}

.movie-info .vote.red {
  color: rgb(228, 82, 82);
  font-size: 13px;
  font-weight: 600;
}
.movie-over {
  background-color: #20223f;
  border-top-left-radius: 20px;
  border-top-right-radius: 3px;
  line-height: 1.5;
  font-size: 0.86rem;
  text-align: left;
  max-height: 95%;
  color: #e2e2ebb7;
  padding: 0.7rem;
  position: absolute;
  bottom: 0px;
  left: 10px;
  right: 0px;
  overflow-y: scroll;
  transform: translateY(100%);
  transition: transform 500ms ease-in-out;
}
.movie-card:hover .movie-over {
  transform: translateY(0%);
}
.movie-card:hover {
  transform: scale(1.02);
  z-index: 3;
}

.movie-over::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.movie-over::-webkit-scrollbar-track {
  background: #2e3e86;
}

/* Handle */
.movie-over::-webkit-scrollbar-thumb {
  background: rgb(16, 22, 53);
}

/* Handle on hover */
.movie-over::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 113, 214);
}
/* End Of Card  */

.movie-header {
  width: 35%;
  height: 40px;
  max-width: 400px;
  min-width: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  border-radius: 20px;
  z-index: 100;
}
.movie-header button {
  outline: none;
  border: none;
  width: 50px;
  background-color: #05054be1;
  height: 100%;
  color: #fdf9f9;
  border-radius: 20px 0 0 20px;
}

#search {
  padding-left: 3.5rem;
  margin: 0;
  box-sizing: border-box;
  width: 32%;
  min-width: 230px;
  height: 100%;
  background-color: #05054b98;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
#search::placeholder {
  color: #fff;
  opacity: 0.5;
}
#search:placeholder-shown {
  background-color: #05054b98;
  color: #fff;
}
#search:hover {
  background-color: #15097c;
  color: white;
  width: 95%;
}
#search:focus {
  width: 95%;
}
.searchIcon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .movie-header {
    width: 30%;
    height: 40px;
    max-width: 300px;
  }
}
/*  End of Movies  */

/* Movie Trailer */

.preview-video {
  position: fixed;
  top: 12vh;
  right: 0v;
  width: 100vw;
  height: 100%;
  z-index: 1000;
}

.preview-close {
  position: absolute;
  top: 90px;
  right: 50px;
  width: 50px;
  border-radius: 11px;
  border: 1px solid #444;
  font-size: 2rem;
  background-color: transparent;
  color: rgb(230, 54, 10);
}

.search-result {
  position: fixed;
  top: 70px;
  left: 50%;
  height: auto;
  min-width: 200px;
  width: auto;
  transform: translateX(-50%);
  background-color: #f1f1f1;
  border-radius: 15px;
  color: #0a0a3d;
  z-index: 9000;
}

.search-result ul {
  padding: 1rem;
  width: 100%;
  height: 100%;
  width: 350px;
}
.search-result ul li {
  list-style: none;
  text-align: left;
  margin-top: 0.5rem;
  padding: 0.4rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.search-result ul li:hover {
  background-color: #d1ddda;
  color: #030322;
  width: 100%;
  padding-left: 0.2rem;
}
.search-result ul li img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 0.5rem;
}

.search-result ul li .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.release_date {
  font-size: 13px;
  margin-top: 0.2rem;
  color: gray;
}
