@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  position: relative;
  background-color: #080c41;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}
